<template>
    <div>
        <h1>I'm {{ pascalCase componentName }} component</h1>
    </div>
</template>

<script>
    export default {
        name: '{{ pascalCase componentName }}',
        data() {
            return {
                // Add your data properties here
            };
        },
        methods: {
            // Add your component methods here
        }
    };
</script>

<style scoped>
/* Add your component-specific styles here */
</style>
